<!-- This line must appear somewhere in your layout -->
<div class="main-layout container" ng-controller="app.layouts.main.controller">
    <ez-app-header>

    </ez-app-header>
    <ng-view></ng-view>
    <ez-fixed-panel
            sides="left bottom right"
            resizeable="false"
            class="bottom-bar"
            size="bottomBar.size">
        <div class="row">
            <div class="col-xs-4">
                <div class="bottom-side left">
                    <div class="link-container">
                        <a class="nav" ng-href="#/events/near">
                            <span class="horizontal-center">
                                Near me
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bottom-center">
                    <div class="link-container">
                        <a class="nav" ng-href="#/">
                            <span class="horizontal-center">
                                Categories
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bottom-side right">
                    <div class="link-container">
                        <a class="nav" ng-href="#/events/popular">
                            <span class="horizontal-center">
                                Popular
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ez-fixed-panel>
</div>
