<!-- This line must appear somewhere in your layout -->
<div class="main-layout container" ng-controller="app.layouts.main.controller" ez-user-require-logged-in>
    <ez-app-header>
        <ul ez-login-actions>
            <li>
                <a href="#">My Settings</a>
            </li>
        </ul>
        <ul ez-navbar-item ez-mobile-title="true" class="nav navbar-nav" ng-controller="app.layouts.main.meteo">
            <div class="pull-right weather-widget">
                <img ng-src="{{ 'images/scattered_clouds.png' | ezLayoutPath }}"/>
                <span>{{ meteo.temp }}°C</span>
            </div>
        </ul>
        <ul ez-navbar-item class="nav navbar-nav">
            <li><a href="#">Calendar</a></li>
        </ul>
    </ez-app-header>
    {{ meteo|json }}
    <ng-view></ng-view>
    <ez-fixed-panel
            sides="left bottom right"
            resizeable="false"
            class="bottom-bar"
            size="bottomBar.size">
        <div class="row">
            <div class="col-xs-4">
                <div class="bottom-side left">
                    <div class="link-container">
                        <a class="nav" ng-href="#/events/near">
                            <span class="horizontal-center">
                                 <i class="fa fa-location-arrow"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bottom-side right">
                    <div class="link-container">
                        <a class="nav" ng-href="#/categories">
                            <span class="horizontal-center">
                                <i class="fa fa-home"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="bottom-side right">
                    <div class="link-container">
                        <a class="nav" ng-href="#/events/popular">
                            <span class="horizontal-center">
                                Popular
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ez-fixed-panel>
</div>
<div ez-user-require-logged-out>
    <div ez-center-in-window>
        <!--<div ez-login-page></div>-->
        <div welcome-page></div>
    </div>
</div>
