<div class="event-item box effect2">
    <div class="event-item-header">
        <ul>
            <li>
                <h4 ng-bind-html="model.name"></h4>
            </li>
            <li>
                {{model.occurrences[0].jour | date}}
            </li>
            <!--<li>-->
                <!--<i class="fa fa-clock-o"></i>In: <span am-time-ago="model.occurrences[0].jour"></span>-->
            <!--</li>-->
        </ul>
    </div>

    <div class="event-item-picture col-xs-12"></div>
    <div class="event-description">
        <span ng-bind-html="getDescription()"></span>
    </div>
    <p>
        <strong>Where?</strong> {{model.lieu}}
    </p>
</div>