<div class="event-stack">
    <div class="event-container left-event-container" ng-click="more()" ng-show="index < data.length">
        <i class="fa fa-mail-reply"/>
    </div>
    <div class="event-container right-event-container" ng-click="dislike()" ng-show="index < data.length">
        <span><i class="fa fa-mail-forward"/></i></span>
    </div>
    <div ng-show="index >= data.length">
        <div class="event-stack-no-element">
            There's no more events in your area.
        </div>
    </div>
    <div ng-repeat="item in data">
        <div event-item
             class="item"
             model="item"
             ng-class="{'animate-like': item.like, 'animate-dislike': item.dislike}"
             ng-swipe-left="more()"
             ng-swipe-right="dislike()"
             ng-show="item.display"></div>
    </div>
</div>
