<div class="event-item box effect2">
    <div class="event-item-header">
        <ul>
            <li>
                <h4 ng-bind-html="model.name"></h4>
            </li>
            <li>
                {{model.occurrences[0].jour | date}}
            </li>
            <!--<li>-->
                <!--<i class="fa fa-clock-o"></i>In: <span am-time-ago="model.occurrences[0].jour"></span>-->
            <!--</li>-->
        </ul>
    </div>

    <div class="event-item-picture col-xs-12" ng-if="model.files.length === 0 || model.files[0].path === undefined"></div>
    <div class="event-description">
        <span ng-bind-html="getDescription()"></span>
    </div>
    <p>
        <strong>Where?</strong> {{model.lieu || model.address}}
    </p>
    <div style="width: 100%;" ng-if="model.files.length > 0">
        <img ng-repeat="file in model.files" src="{{file.path}}" ng-if="file.path != undefined" style="width: 100%" />
    </div>
</div>