.part1 {
  position: fixed;
  top: 0px;
  left: 0px;
  float: left;
  width: 320px;
  height: 480px;
  background-image: url("welcome_total_part_1.png");
  z-index: 1;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.part1-end-animate {
  left: -320px !important;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.part2-end-animate {
  left: 640px !important;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.part2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 480px;
  background-image: url("welcome_total_part_2.png");
  z-index: 2;


  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.btnStart {
  position: fixed;
  text-align: center;
  z-index: 3;
  text-transform: uppercase;
}




