.event-details {

  border: 1px #808080 dashed;

  .event-details-header ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .event-details-header ul li {
    display: inline-block;
    list-style: none outside none;
  }

}