
.events-title {
  border: 1px #808080 dashed;
}

.box {
  width:96%;
  height:200px;
  background:#FFF;
  margin:40px auto;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #000;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.event-item {

  font-size: 11px;


  background: #420001; /* Old browsers */
  background: -moz-linear-gradient(top, #420001 42%, #b00004 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42%, #420001), color-stop(100%, #b00004)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #420001 42%, #b00004 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #420001 42%, #b00004 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #420001 42%, #b00004 100%); /* IE10+ */
  background: linear-gradient(to bottom, #420001 42%, #b00004 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#420001', endColorstr='#b00004', GradientType=0); /* IE6-9 */

  .event-item-header ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .event-item-header ul li {
    display: inline-block;
    list-style: none outside none;
    margin-right: 20px;
    font-size: 13px;
    text-shadow: 1px 1px 0x #000;
  }

  .event-item-picture {
    align-content: center;
    min-height: 2em;
    border: 1px #808080 dashed;
  }
}

.event-stack {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;

  .event-container {

    border-top: 1px solid red;
    border-left: 1px solid red;
    border-bottom: 1px solid red;

    .event-container-text {
      display: inline-block;
      vertical-align: middle;
    }

    &.left-event-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;

    }

    &.right-event-container {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;

      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;

    }
  }

}

.item, .animate-partial {
  transition: all linear 0.3s;
}

.item {
  transform: translateX(0px) rotate(0deg);
}

.animate-partial.animate-like-partial {
  transform: translateX(10%) rotate(5deg);
}

.item.animate-like {
  transform: translateX(-100%) rotate(-60deg);
}

.animate-partial.animate-dislike-partial {
  transform: translateX(-10%) rotate(-5deg);
}

.item.animate-dislike {
  transform: translateX(100%) rotate(60deg);
}

.item.ng-hide-remove {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.item {
  -webkit-transform: none;
  transform: none;

  -webkit-transition: transform 300ms;
  transition: transform 300ms;
}
